body {
  background-color: #fdf9f8;
}

/* Topo*/
.top-bar {
  background-color: #faeddc;
  height: 50px;
  text-align: center;
  padding: 10px 0;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fdf9f8;
}

/* Header left styles */
.header-left {
  display: flex;
  align-items: center;
}

.menu-button {
  display: flex;
  align-items: center;
  color: #5b200c;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.menu-button .menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.menu-button span {
  font-size: 24px; 
  margin-left: 5px;
}

.search-box {
  margin-left: 100px;
  margin-right: 20px;
}

.search-box {
  border: 1px solid white;
  border-radius: 25px;
  padding: 5px 10px;
  margin-right: 20px;
}

.search-box input[type="text"] {
  width: 250px;
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #5b200c;
  padding: 0 10px;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Header center styles */
.header-center {
  flex: 1;
  text-align: center;
}

.header-center img {
  width: 100px;
}

/* Header right styles */
.header-right {
  display: flex;
  align-items: center;
}

.login-button,
.favorites-button,
.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.login-button span,
.favorites-button span,
.cart-button span {
  margin-left: 5px;
}