/*Background color of the page*/
body {
  background-color: #fdf9f8;
}

/* Styles for the top bar */
.top-bar {
  background-color: #faeddc;
  color: #000000;
  padding: 5px;
  text-align: center;
}

/* Styles for the menu icon */
.top-menu img {
  vertical-align: middle;
}

/* Styles for the menu text */
.menu-text {
  margin-left: 2px;
  color:#691a03;
}

/* Styles for the search box */
.search-box {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
  font-size: 14px;
}

/* Styles for the logo */
.logo-container {
  align-items: center;
  width: 100%;
  display: center;
  justify-content: space-between;
}

.logo-img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Styles for the sections */
.top-sections {
  padding: 10px;
  text-align: left;
}

#sections-w,
#sections-m,
#top-adm {
  display: inline-block;
  color: #691a03;
  margin-left: 20px;
}

#top-adm {
  color: #691a03;
}

#sections-w,
#sections-m {
  display: inline-block;
  color: #691a03;
  margin-left: 20px;
}

#sections-w:hover,
#sections-m:hover {
  cursor: pointer;
  color: #FF0000; 
}

/* Styles for image in the center of the index.htlm */
.promo-container {
  float: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-img {
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Styles for Login and Shopping Bag*/
.user-texts {
  float: right;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.user-texts #log-button-text,
.cart-button-text {
  display: inline-block;
  color:#691a03;
  font-size: 12px;
  margin-top: 5px;
}

.log-button {
  margin-right: 20px; 
}

.cart-button {
  margin-left: 20px; 
}

.iconlfc {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
}

/* Styles for the login and registration */
#login-proce h1, #login-proce h2 {
  text-align: left;
}

#login-proce label {
  display: block;
  text-align: center;
}

#login-proce input[type="email"],
#login-proce input[type="password"],
#login-proce input[type="confpassword"],
#login-proce input[type="date"],
#login-proce input[type="text"],
#login-proce input[type="number"] {
  display: block;
  margin: 0 auto;
}

#login-proce button {
  display: block;
  margin: 20px auto 0;
}

#login-proce {
  text-align: center;
}

#login-proce #logproc-btn,
#login-proce #create-btn {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #691a03;
  color: #ffffff;
  cursor: pointer;
}

#login-proce #logproc-btn:hover{
  background-color: green;
}

#login-proce #create-btn:hover {
  background-color: rgb(255, 213, 0);
}

#login-proce span {
  display: block;
  margin: 20px auto 0;
  text-align: center;
}

#login-proce #social-icons {
  text-align: center;
  margin-bottom: 10px;
}

#login-proce #close-logbtn {
  display: block;
  margin: 20px auto 0;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: none;
  background-color: #691a03;
  color: #ffffff;
  cursor: pointer;
}

#login-proce #close-logbtn:hover {
  background-color: red;
}

/* Styles for the output htlm */
#output {
  text-align: center;
  font-weight: bold;
}

/* Styles for the admin-area htlm */
#admin-area {
  display: block;
}

/* Styles for the shopping bag */
.addtocartbutton {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #691a03;
  color: #ffffff;
  cursor: pointer;
}

.addtocartbutton:hover {
  background-color: green;
}

.product {
  display: inline-block;
  margin: 30px;
}

#cart-container {
  text-align: center;
}

#cart-container h2 {
  color: #691a03;
  margin-bottom: 10px;
}

#cart-container table {
  width: 100%;
  border-collapse: collapse;
}

#cart-container th,
#cart-container td {
  padding: 5px;
  border: 1px solid #000000;
}

#cart-container th {
  background-color: #faeddc;
}

#cart-container img {
  max-width: 50px;
  height: 50px;
}

#cart-container .decrease-quantity,
#cart-container .increase-quantity,
#cart-container .remove-from-cart {
  padding: 3px 6px;
  background-color: #691a03;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#cart-container .remove-from-cart {
  background-color: red;
}

#cart-container button:hover {
  background-color: green;
}

#cart-container p {
  font-weight: bold;
  margin-top: 10px;
}

#cart-container #cart-total {
  color: #691a03;
}

#clear-cart-button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #691a03;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#clear-cart-button:hover {
  background-color: red;
}


/* Styles for Store Produtcs */
.product {
  display: inline-block;
  margin: 30px;
  text-align: center;
}

.product h4 {
  margin-bottom: 10px;
  color: #691a03;
}

.product img {
  max-width: 200px;
  height: auto;
}

.product p {
  margin-bottom: 5px;
  color: #691a03;
}

.product label {
  display: block;
  margin-top: 10px;
  color: #691a03;
}

.product input[type="number"] {
  display: block;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid #691a03;
  border-radius: 3px;
  width: 60px;
}

.addtocartbutton {
  display: block;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #691a03;
  color: #ffffff;
  cursor: pointer;
}

.addtocartbutton:hover {
  background-color: green;
}

.form-title {
  color: #691a03;
  font-size: 20px;
}

.form-input {
  display: block;
  border: 1px solid gray;
  padding: 5px;
}

.form-label {
  display: block;
  text-align: center;
}

/* Styles for the shopping bag 2 part */

.form-input[type="text"],
.form-input[type="email"] {
  display: block;
  border: 1px solid gray;
  padding: 5px;
  margin: 0 auto; 
  text-align: left; 
}

.form-button {
  background-color: green;
  color: white;
}

.finish-order-button {
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #691a03;
  color: #ffffff;
  cursor: pointer;
}

.checkout-button{
  display: inline-block;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #691a03;
  color: #ffffff;
  cursor: pointer;
}

/* Styles for the left menu*/

.sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.about-label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info-label {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
