body {
  background-color: #fdf9f8;
}

/* Estilos para barra do topo */
.top-bar {
  background-color: #faeddc;
  color: #000000;
  padding: 5px;
  text-align: center;
}

/* Estilos para o ícone do menu */
.top-menu img {
  vertical-align: middle;
}

/* Estilos para o texto do menu */
.menu-text {
  margin-left: 5px;
}

/* Estilos para a caixa de pesquisa */
.search-box {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-left: 20px;
  font-size: 14px;
}

/* Estilos para o logo */
.logo-container {
  text-align: center;
  margin-top: 10px;
  width: 150px;
  height: auto;
}

.logo-img {
  width: 150px;
  height: auto;
}

/* Estilos para os links do usuário */
.user-links {
  float: right;
  margin-top: 10px;
}

/* Estilos para cada link do usuário */
.user-link {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
}

/* Estilos para o texto de cada link do usuário */
.user-link-text {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
